/**
 * project: Golin
 * author: codefish <codefish@online.fr>
 * license: Affero GPL 3 [https://www.gnu.org/licenses/agpl-3.0.txt]
 */

.game {
    display: grid;
    height: 80vh;
    justify-items: center;
    align-items: middle;
}

@media(orientation: landscape) {
    .word-grid {
        font-size: calc(min((70vh)/var(--row-number), 30vw/var(--col-number)));
    }
}

@media(orientation: portrait) {
    .word-grid {
        font-size: calc(min((40vh)/var(--row-number), 80vw/var(--col-number)));
    }
}

@media (orientation: landscape) {
    .game {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}

@media (orientation: portrait) {
    .game {
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 3fr;
        row-gap: 20px;
    }
}