/**
 * project: Golin
 * author: codefish <codefish@online.fr>
 * license: Affero GPL 3 [https://www.gnu.org/licenses/agpl-3.0.txt]
 */

.word-grid {
    background-color: rgb(89,203,249);
    color: white;
    display: grid;
    font-weight: bold;
    gap: 2px;
    /*padding: 2px;*/
    justify-content: center;
    align-content: center;
}
