/**
 * project: Golin
 * author: codefish <codefish@online.fr>
 * license: Affero GPL 3 [https://www.gnu.org/licenses/agpl-3.0.txt]
 */

.keyboard-core {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-area: core;
}


@media (orientation: landscape) {
    .keyboard-core .keyboard-button {
        width: 4vw;
        height: 4vw;
    }
}

@media (orientation: portrait) {
    .keyboard-core .keyboard-button {
        width: 8vw;
        height: 8vw;
    }
}

.keyboard-button {
    border: solid 1px black;
    font-size: 1.2em;
    background-color: gray;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
}

.keyboard-chooser {
    grid-area: chooser;
}
.keyboard-backspace {
    grid-area: backspace;
}

.keyboard-enter {
    grid-area: enter;
}

.keyboard {
    display: grid;
    user-select: none;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: min-content max-content max-content;
    grid-template-areas:
        "chooser chooser" 
        "core backspace"
        "core enter";
    justify-content: center;
    align-content: center;
}

/*
@media (orientation: landscape) {
    .keyboard {
        width: 50%;
        height: 100%;
    }
}

@media (orientation: portrait) {
    .keyboard {
        width: 100%;
        height: 30%;
    }
}
*/