/**
 * project: Golin
 * author: codefish <codefish@online.fr>
 * license: Affero GPL 3 [https://www.gnu.org/licenses/agpl-3.0.txt]
 */

.letter {
    background-color: rgb(14,130,195);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.letter div {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    transition-property: border-radius background-color;
    transition-duration: 200ms;
}

.letter-typed div {
    background-color: gray;
}

.letter-misplaced div {
    border-radius: 1000px;
    background-color: rgb(248,181,7);
}

.letter-placed div {
    background-color: rgb(212,43,51);
}

.letter-invalid {
    color: gray;
}