/**
 * project: Golin
 * author: codefish <codefish@online.fr>
 * license: Affero GPL 3 [https://www.gnu.org/licenses/agpl-3.0.txt]
 */

.game table {
  border: solid 1px;
}

div.game div:focus table {
  border: solid red 5px;
}
